.container{
    @apply   flex flex-col gap-2 border-2 p-2 rounded-lg shadow-lg border-slate ;
}

.contactMe {
    @apply mt-6 mb-4 text-green;
}

.label {
    @apply block mb-2 text-sm font-medium text-lightSlate; 
}

.inputEmail{
    @apply block shadow-sm border text-sm rounded-lg w-full p-2.5 text-text mb-2;
}

.inputMessage{
    @apply block p-2.5 w-full text-sm rounded-lg border text-text;
}

.sendButton{
    @apply block bg-accent text-white w-20 h-8 rounded-md mt-2 mb-1 mx-auto outline-none hover:outline outline hover:outline-offset-2 hover:outline-accent hover:outline-1;
}

.text {
    @apply mb-4 text-base font-thin text-lightSlate;
}

.email{
    @apply bg-background text-green inline-flex gap-2 border-2 rounded-md border-accent px-4 py-2 items-center;
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
  }

.popup {
    @apply fixed bottom-4 right-4 bg-background text-green border-4 border-accent px-4 py-2 rounded-l-3xl rounded-tr-3xl shadow-lg;
    animation: slideIn 0.3s ease-out;

}

.popup.hide {
    animation: slideOut 0.3s ease-in forwards;
  }
